<div class="container">
  <div clas="row">
    <h1 class="estudios">Estudios</h1>
    <div class="col-lg-11">
      <ul>
        <li>
            <h1> Colegio Secundario <img src="../../../assets/descargar-removebg-preview.png" id="estrada" style="width: 150px"> </h1> <h2> Técnico Informático (Vigente) </h2>
        </li>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi minus cupiditate
          exercitationem accusantium omnis asperiores beatae reiciendis velit
          consectetur placeat recusandae, quo quod voluptates provident voluptatibus commodi
          reprehenderit molestias temporibus.
        </p>
      </ul>
      <ul>
        <li>
          <h1> Ingenieria en computación <img src="../../../assets/cropped-logo_info-03-1.png" id="unlp" style="width: 100px"> </h1> <h2> Técnico Informático (Vigente) </h2>
        </li>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi minus cupiditate
          exercitationem accusantium omnis asperiores beatae reiciendis velit
          consectetur placeat recusandae, quo quod voluptates provident voluptatibus commodi
          reprehenderit molestias temporibus.
        </p>
      </ul>
      <ul>
        <li>
          <h1> Sé Programar <img src="../../../assets/APLogo.png" id="ap" style="width: 300px"> </h1> <h2> Técnico Informático (Vigente) </h2>
        </li>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi minus cupiditate
          exercitationem accusantium omnis asperiores beatae reiciendis velit
          consectetur placeat recusandae, quo quod voluptates provident voluptatibus commodi
          reprehenderit molestias temporibus.
        </p>
      </ul>
    </div>
  </div>
</div>
