<div class="container">
  <div clas="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
      <ul>
        <li>
            <h1> <img src="../../../assets/ARBA-1-removebg-preview.png" id="arba" style="width: 300px"> </h1> <h2> Técnico Informático (Vigente) </h2>
        </li>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi minus cupiditate
          exercitationem accusantium omnis asperiores beatae reiciendis velit
          consectetur placeat recusandae, quo quod voluptates provident voluptatibus commodi
          reprehenderit molestias temporibus.
        </p>
      </ul>
    </div>
  </div>
</div>
