.container{
  max-width: 2000px;
  min-width: none;
  background-color: lavender;
}

.row{
  padding: 0px;
  text-align: center;
}

div{
  background-color: lavender;
  margin-bottom: -1.5%;
}

#estrada{
  margin: 5px;
}
