<div class="row">
    <div clas="col-xs-12 col-sm-2 col-md-2 col-lg-2" style=" width: 224px;
    height:200px;">
      <img src="../../../assets/Imagen Foto de Perfil Redes Sociales Profile Original Azul (1) (1)-PhotoRoom.png-PhotoRoom.png" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="nombre">Kiara Perez</p>
      <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8"
    style=" width: 700px;
    height:700px;">
      <span>
        <h1 id="acerca">Acerca de mi</h1>
        <p id="acercademi">Tengo 21 años y soy de La Plata, Buenos Aires. Estudio Ingenieria en Computación, hice varios cursos de programación a partir de los 19 años y estoy trabajando de programadora por mas que no termine mis estudios.
        </p>
      </span>
    </div>
  </div>
