.row{
  padding: 10px;
  min-height: 100%;
  width: 100.65%;
  scrollbar-width: none;
}
img{
  padding: 0px;

}
div{
  background-color: lavender;
  text-align: center;
  background-position: 0%;
}

#nombre{
  font-weight: bold;
  margin-top: 10%;
  margin-left: 10px;
}

@media (min-width: 576px){
#fotoperfil{
  position: absolute;
  border-radius: 100%;
  left: 0%;
  width:300px;
  top: 1000px;
}
}

@media (max-width: 575px){
  #fotoperfil{
    position: absolute;
    border-radius: 100%;
    left: 0%;
    top: 1100px;
  }
  }

  @media (min-width: 450px){
    #fotoperfil{
      position: absolute;
      border-radius: 100%;
      left: 0%;
      top: 1000px;
    }
    }

#acerca{
  font-size: 100%;
  margin-left: 50%;
}

#acercademi{
  font-size: 100%;
  margin-left: 50%;
}
