<div class="container">
  <div class="row">
    <div class="col xs-12 col-sm-2 col-md-2 col-lg-2" id="media">
      <img src="../../../assets/Imagen Foto de Perfil Redes Sociales Profile Original Azul (1) (1)-PhotoRoom.png-PhotoRoom.png"
      class="img-fluid">
    </div>
    <div class="col xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="nombre">Kiara Camila Perez</p>
      <p id="full">Full Stack Developer Jr.</p>
    </div>
    <div class="col xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
        <h1 id="acerca">Acerca de mí</h1>
        <p id="acercademi">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni consectetur incidunt veritatis rerum maxime repellendus cumque aperiam quas minima, quaerat explicabo repudiandae ut, sint laborum obcaecati, quisquam neque velit natus?</p>
      </span>
    </div>
  </div>
</div>
