<div class="container">
  <div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="100"
    [title]="'HTML 70'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#7B68EE'"
    [innerStrokeColor]="'#EE82EE'"
    [animation]="true"
    [animationDuration]="300">
   </circle-progress>
   </div>
   <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="50"
    [radius]="100"
    [title]="'JavaScript 50'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#7B68EE'"
    [innerStrokeColor]="'#EE82EE'"
    [animation]="true"
    [animationDuration]="300">
   </circle-progress>
   </div>
   <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [title]="'Python 80'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#7B68EE'"
    [innerStrokeColor]="'#EE82EE'"
    [animation]="true"
    [animationDuration]="300">
   </circle-progress>
   </div>
   <div class="col-sm-4 col-md-4 col-lg-4" id="circulito1">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [title]="'Ingles 90'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#7B68EE'"
    [innerStrokeColor]="'#EE82EE'"
    [animation]="true"
    [animationDuration]="300">
   </circle-progress>
   </div>
   <div class="col-sm-4 col-md-4 col-lg-4" id="ciruclito2">
    <circle-progress
    [percent]="40"
    [radius]="100"
    [title]="'Frances 40'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#7B68EE'"
    [innerStrokeColor]="'#EE82EE'"
    [animation]="true"
    [animationDuration]="300">
   </circle-progress>
   </div>
   <div class="col-sm-4 col-md-4 col-lg-4" id="circulito3">
    <circle-progress
    [percent]="20"
    [radius]="100"
    [title]="'kubernetes 20'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#7B68EE'"
    [innerStrokeColor]="'#EE82EE'"
    [animation]="true"
    [animationDuration]="300">
   </circle-progress>
   </div>
  </div>
</div>
